* {
    padding: 0;
    margin: 0;
    font-family: 'poppins', 'odibee sans';
    box-sizing: border-box;
}

li {
    list-style: none;
}

.main-container {
    background-color: aqua;
    width: 100%;
    height: 200rem;
    background-color: white;
}

.nav-container {
    width: 100%;
    height: 5rem;
    background-color: aquamarine;
    display: flex;
}

.logo {
    /* width: 20%; */
    height: 5rem;
    background-color: aliceblue;
    flex: 1;
}

.nav-items {
    flex: 3;
}

.navs {
    height: 5rem;
    background-color: antiquewhite;
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.nav-item {
    width: 8rem;
    height: 2rem;
    margin-top: 1.5rem;
    font-weight: 900;
    font-size: 1.2rem;
    box-sizing: border-box;
}

.skill,
.home {
    width: 5rem;
}

.nav-item:hover {
    cursor: pointer;
}


/* Home Page */

.home-page {
    width: 100%;
    height: 41.5rem;
    display: flex;
}

.my-image {
    width: 50%;
    height: 41.5rem;
    background-image: url('img/my-image2.png');
    background-repeat: no-repeat;
    background-size: cover;
    box-sizing: border-box;
}

.discription {
    width: 50%;
    height: 41.5rem;
    display: flex;
    align-items: center;
    justify-content: center;
}

.intro {
    width: 40rem;
    height: 30rem;
}

h3 {
    font-size: 1.2rem;
    font-weight: 900;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

h2 {
    color: orangered;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

h1 {
    font-size: 3rem;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
}

.dot {
    color: orangered;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    font-size: 5rem;
}

h4 {
    margin-left: 2rem;
}

.social-media-handles {
    width: 20rem;
    height: 2rem;
    margin: 1rem 0 0 2rem;
    display: flex;
    justify-content: space-around;
}

.cv-button {
    width: 7rem;
    height: 3rem;
    background-color: orangered;
    display: flex;
    justify-content: center;
    align-items: center;
    text-shadow: 0px 1px, 1px 0px, 1px 1px;
    margin: 1rem 0 0 2rem;
}

.cv-button:hover {
    cursor: pointer;
}


/* About me page */

.about-me-page {
    width: 100%;
    height: 41.5rem;
    background-color: rgb(189, 228, 228);
}


/* Skills Page */

.skill-section {
    width: 100%;
    height: 40rem;
    /* background-color: aliceblue; */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.section-name {
    margin-bottom: -3rem;
}

.section-name h1 {
    padding-left: 45%;
    color: orangered;
}

.skill-content {
    width: 100%;
    height: 38rem;
    display: flex;
    justify-content: space-around;
}

.programing-langs,
.frameworks,
.additional-skills {
    width: 30rem;
    height: 30rem;
    /* background-color: antiquewhite; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 2rem;
    margin: auto;
    border-radius: 3rem;
}

.skill-header {
    width: 27rem;
    height: 10rem;
}

.skill-items {
    margin-top: 2rem;
    width: 26rem;
    height: 7rem;
    display: flex;
    justify-content: space-around;
    padding-top: 1rem;
}

.skill-lng {
    width: 5rem;
    height: 5rem;
    background-color: gainsboro;
    border-radius: 1rem;
    display: flex;
    justify-content: center;
    align-items: center;
    box-shadow: 3px;
    box-shadow: rgba(0, 0, 0, 0.25) 0px 54px 55px, rgba(0, 0, 0, 0.12) 0px -12px 30px, rgba(0, 0, 0, 0.12) 0px 4px 6px, rgba(0, 0, 0, 0.17) 0px 12px 13px, rgba(0, 0, 0, 0.09) 0px -3px 5px;
}

.skill-lng:hover {
    transform: scale(1.1);
    transition: all .7s;
}


/* Project Page */

.project-section {
    width: 100%;
    height: 40rem;
    /* background-color: aliceblue; */
    background-image: linear-gradient(to top, #cfd9df 0%, #e2ebf0 100%);
}

.project-content {
    width: 100%;
    height: 38rem;
    display: flex;
    justify-content: space-around;
}

.project {
    width: 30rem;
    height: 30rem;
    /* background-color: antiquewhite; */
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
    padding: 2rem;
    margin: auto;
    border-radius: 3rem;
}